.sources {
  width: 250px;
  left: 0;
  height: 500px;
  background-color: red;
  position: absolute;
}
.track-list {
  width: 400px;
  left: 250px;
  height: 500px;
  background-color: green;
  position: absolute;
  overflow-y: scroll;
  padding-left: 15px;
}
.oscillator-detail {
  width: 250px;
  right: 0;
  height: 500px;
  background-color: blue;
  position: absolute;
}
.settingsBar {
  padding: 15px;
}
